img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.img2  {
width: 400px;
height:400px;
} 

.img3  {
width: 400px;
height:300px;
}

button{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-size: 20px;
    background-color: #e7e7e7; color: black;
}

h2 {
    font-family: verdana
}

.restart {
    display: none ;
}

.board {
    text-align: center
}